#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Hello Version Control</h1>
<h2>My name is Narish</h2>
<h2>My name is Jerald</h2>
<h2>My name is Erwin</h2>
<h2>My name is Alison</h2>
<h2>My name is Deku</h2>
<h5> DEKUDEKU! </h5>
<h2> My name is Deku </h2>
<p> try deku </p>
<p> conflict here! </p>
<h2>Teaching Deku to Resolve Conflicts</h2>
<h2>Deku Conflict again</h2>
<h2>Narish</h2>
<h1>second conflict</h1>
<h2>LAST</h2>
<h4> New DEKU </h4>
<h5>One More Try</h5>
<p>ONE LAST TRY</p>
<h2>Ali</h2><h2>My name is Alison</h2>
<h2>My name is Erwin</h2>
<h2>Hello. </h2>
<h2>Hiiii. </h2>
<h5>zZz</h5>
<h2>Ali</h2>
